<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeStartView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD25239F1D1BDE6E00124A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2523BB1D1BDE6E00124A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2523C61D1BDE6E00124A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
